img{  
    width: 40%;
    min-width: 175px;
    margin-left: 20%;
}
#cabecera{
    background-image: url("/img/cabecera.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin-left: 10%;
}
h1{
    margin-top: 3%;
}
